.players {
    text-align: center;
}
.player.card {
    margin: 10px;
    box-shadow: 1px 0px 8px 1px lightgrey;
    margin-top: 0;
    margin-bottom: 20px;
}
.players p {
    margin: 0;
}
.player-img {
    position: relative;
    background: #563089;
    border-radius: 4px 4px 0 0;
    width: 220px;
}
.player-img svg {
    font-size: 25px;
    color: #563089;
    display: block;
}
.player-img button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: goldenrod;
    margin: 10px;
    border-radius: 50%;
    padding: 0px 9px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.performance {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0 0;
}
.performance span {
    font-size: 10px;
}
.performance h4 {
    font-size: 20px;
    margin: 0;
}
.match, .run {
    border-right: 1px solid lightgray;
    padding-right: 10px;
}
.name strong {
    display: block;
    font-size: 20px;
    line-height: 0.8;
    margin-top: 8px;
}
.player .card-body {
    padding-top: 5px;
}
.role {
    line-height: 30px;
    font-size: 15px;
    background: #70458f;
    color: #fff;
    display: inline-block;
    padding: 0 12px;
    border-radius: 2px;
}
p.price {
    font-weight: 600;
    font-size: 18px;
}
p.name {
    margin-bottom: 10px;
}
h1.title {
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    margin: 20px 0;
}
.box {
    position: relative;
}
.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #d68815;
    background: linear-gradient(#d19c4c 0%, #d68815 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #d68815;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #d68815;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #d68815;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #d68815;
}
.card-footer svg {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.card-footer {
    background: #fff;
}
.player-select-btn {
    background: #563089;
    border: none;
    color: #fff;
    padding: 6px 15px;
    border-radius: 4px;
}
.player-select-btn:hover {
    background: #8f51bb;
}